{% extends 'base.html' %}
{% block title %}商品详情{% endblock title %}

{% block goods_type %}
	{% for type in types %}
	<li><img src="{{ type.image.url }}" alt="商品种类图片"><a href="{% url 'goods:list' type.id 1 %}">{{ type.name }}</a></li>
	{% endfor %}
{% endblock goods_type%}

{% block body %}
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ sku.image.url }}"></div>
		<div class="goods_detail_list fr">
			<h3>{{ sku.name }}</h3>
			<p>{{ sku.desc }}</p>
			<div class="prize_bar">
				<span class="show_pirze"><span class="meta_title">¥</span><em>{{ sku.price }}</em></span>
				<span class="show_unit"><span class="meta_title">单位</span>{{ sku.unite }}</span>
			</div>
			<div class="goods_panel clearfix">
				<ul class="ind-panel">
					<li class="ind-item ind-sellCount">
						<div class="indcon"><span class="label">月销量</span><span class="count">{{ sku.sales }}</span></div>
					</li>
					<li class="ind-item ind-reviewCount">
						<div class="indcon"><span class="label">累计评价</span><span class="count">{{ all_comment }}</span></div>
					</li>
					<li class="ind-item ind-emPointCount">
						<div class="indcon"><span class="label">送天猫积分</span><span class="count"
								style="color: darkgreen;">{{ sku.points }}</span></div>
					</li>
				</ul>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name"><span class="meta_title">数量</span></div>
				<div class="num_name"><span class="meta_title">库存</span>{{ sku.stock }}</div>
				<div class="num_add ">
					<input type="number" class="num_show fl" value="1">
					<span class="amout_count">
						<a href="javascript:;" class="add ">+</a>
						<a href="javascript:;" class="minus ">-</a>
					</span>
				</div>
			</div>
			<div class="total">总价<em>16.80元</em></div>
			<div class="operate_btn">
				{% csrf_token %}
				<a href="javascript:;" sku_id="{{ sku.id }}" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for sku in new_skus %}
					<li>
						<a href="{% url 'goods:detail' goods_id=sku.id %}"><img src="{{ sku.image.url }}"></a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li id="tag_detail" class="active">商品介绍</li>
				<li id="tag_comment">累计评价 <span class="count">{{ all_comment }}</span></li>
			</ul>

			<div id="tab_detail" class="tab_content">
				<dl>
					<img src="{{ sku.goods.image.url }}">
				</dl>
			</div>

			<div id="tab_comment" class="tab_content" style="display:none">
				<dl>
					{% for order in sku_orders %}
					<dt>评论时间：{{ order.update_time }}&nbsp;&nbsp;用户名：{{ order.order.user.username }}</dt>
					<dd>评论内容：{{ order.comment }}</dd>
					{% endfor %}
				</dl>
			</div>

		</div>
	</div>
{% endblock body %}

{% block bottom %}
	<div class="add_jump"></div>
{% endblock bottom %}

{% block bottomfiles %}
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
	update_goods_amount()
	// 显示商品详情或者评论内容
	$('#tag_detail').click(function(){
		$('#tag_comment').removeClass('active')
		$(this).addClass('active')
		$('#tab_detail').show()
		$('#tab_comment').hide()
	})
	$('#tag_comment').click(function(){
		$('#tag_detail').removeClass('active')
		$(this).addClass('active')
		$('#tab_comment').show()
		$('#tab_detail').hide()
	})

	// 计算商品的总价格
	function update_goods_amount(){
		// 获取商品的单价和数量
		price = $('.show_pirze').children('em').text()
		count = $('.num_show').val()
		// 计算总价格
		price = parseFloat(price)
		count = parseInt(count)
		amount = price*count
		// 设置商品的总价
		$('.total').children('em').text(amount.toFixed(2)+'元')
	}

	// 增加商品的数量
	$('.add').click(function(){
		// 获取原有的数目
		count = $('.num_show').val()
		// 加1
		count = parseInt(count) + 1
		// 重新设置商品的数目
		$('.num_show').val(count)
		// 更新商品的总价
		update_goods_amount()
	})

	// 减少商品的数量
	$('.minus').click(function(){
		// 获取原有的数目
		count = $('.num_show').val()
		// 减1
		count = parseInt(count) - 1
		if(count < 1){
			count = 1
		}
		// 重新设置商品的数目
		$('.num_show').val(count)
		// 更新商品的总价
		update_goods_amount()
	})

	// 手动输入商品的数量
	$('.num_show').blur(function(){
		// 获取用户输入的数目
		count = $(this).val()
		// 校验count是否合法
		if(isNaN(count) || count.trim().length==0 || parseInt(count)<1){
			count = 1
		}
		// 重新设置商品的数目
		$(this).val(parseInt(count))
		// 更新商品的总价
		update_goods_amount()
	})

	// 获取add_cart div 元素左上角的坐标
	var $add_x = $('#add_cart').offset().top;
	var $add_y = $('#add_cart').offset().left;

	// 添加到购物车
	$('#add_cart').click(function(){

		// 获取show_count div 元素左上角坐标
		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		// 获取商品id和数量
		sku_id = $(this).attr('sku_id')
		count = $('.num_show').val()
		csrf = $('input[name="csrfmiddlewaretoken"]').val()

		// 组织参数
		parems = {'sku_id':sku_id, 'count':count, 'csrfmiddlewaretoken':csrf }

		// 发起ajax post 请求,访问/cart/add，传递sku_id, count
		$.post('/cart/add', parems, function(data){
			if(data.res == 5){
				// 添加成功
				$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
				$(".add_jump").stop().animate({
					'left': $to_y+7,
					'top': $to_x+7},
					"fast", function(){
						$(".add_jump").fadeOut('fast',function(){
							// 重新设置用户购物车中商品的条目数
							$('#show_count').html(data.total_count);
						});
				});
			}
			else{
				// 添加失败
				alert(data.errmsg)
			}
		});
	});
	</script>
{% endblock bottomfiles %}