{% extends 'base.html' %}
{% block title %}商品详情{% endblock title %}

{% block goods_type %}
	{% for type in types %}
	<li><img src="{{ type.image.url }}" alt="商品种类图片"><a href="#">{{ type.name }}</a></li>
	{% endfor %}
{% endblock goods_type%}

{% block body %}
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ sku.image.url }}"></div>
		<div class="goods_detail_list fr">
			<h3>{{ sku.name }}</h3>
			<p>{{ sku.desc }}</p>
			<div class="prize_bar">
				<span class="show_pirze"><span class="meta_title">¥</span>¥<em>{{ sku.price }}</em></span>
				<span class="show_unit"><span class="meta_title">单位</span>{{ sku.unite }}</span>
			</div>
			<div class="goods_panel clearfix">
				<ul class="ind-panel">
					<li class="ind-item ind-sellCount">
						<div class="indcon"><span class="label">月销量</span><span class="count">{{ sku.sales }}</span></div>
					</li>
					<li class="ind-item ind-reviewCount">
						<div class="indcon"><span class="label">累计评价</span><span class="count">{{ sku.all_comment }}</span></div>
					</li>
					<li class="ind-item ind-emPointCount">
						<div class="indcon"><span class="label">送天猫积分</span><span class="count"
								style="color: darkgreen;">{{ sku.points }}</span></div>
					</li>
				</ul>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name"><span class="meta_title">数量</span></div>
				<div class="num_name"><span class="meta_title">库存</span>{{ sku.stock }}</div>
				<div class="num_add ">
					<input type="number" class="num_show fl" value="1">
					<span class="amout_count">
						<a href="javascript:;" class="add ">+</a>
						<a href="javascript:;" class="minus ">-</a>
					</span>
				</div>
			</div>
			<div class="total">总价<em>16.80元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" sku_id="{{ sku.id }}" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for sku in new_skus %}
					<li>
						<a href="{% url 'goods:detail' goods_id=sku.id %}"><img src="{{ sku.image.url }}"></a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>累计评价 <span class="count">{{ sku.all_comment }}</span></li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<img src="{{ sku.goods.image.url }}">
				</dl>
			</div>

			<div id="tab_comment" class="tab_content" style="display:none">
				<dl>
					{% for order in sku_orders %}
					<dt>评论时间：{{ order.update_time }}&nbsp;&nbsp;用户名：{{ order.order.user.username }}</dt>
					<dd>评论内容：{{ order.comment }}</dd>
					{% endfor %}
				</dl>
			</div>

		</div>
	</div>
{% endblock body %}

{% block bottom %}
	<div class="add_jump"></div>
{% endblock bottom %}

{% block bottomfiles %}
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">

	</script>
{% endblock bottomfiles %}