{% extends 'base_user.html' %}
{% block title %}用户地址信息{% endblock title %}

{% block right_content %}
	<div class="right_content clearfix">
		<div class="common_title3 recive_title">
			<h3><span>收货地址</span></h3>
		</div>
		<div class="site_con">
			<dl>
				<dt>当前地址：</dt>
				{% for address in addresses%}
				<dd>{{ address.address}} ({{ address.receiver }} 收) {{ address.phone }}</dd>
				{% empty %}
				<dd>未添加地址</dd>
				{% endfor %}
			</dl>
		</div>
		<div class="common_title3">
			<h3>编辑地址</h3>
		</div>
		<div class="site_con">
			<form method="post">
				{% csrf_token %}
				<div class="form_group">
					<label>收件人：</label>
					<input type="text" name="receiver">
				</div>
				<div class="form_group select_area">
					<label>所在地区：</label>
					<select type="text" id="prov" name="prov">
						<option selected>---请选择省---</option>
					</select>
					<select type="text" id="city" name="city">
						<option  selected>---请选择市---</option>
					</select>
					<select type="text" id="county" name="county">
						<option  selected>---请选择县---</option>
					</select>
				</div>
				<div class="form_group form_group2">
					<label>详细地址：</label>
					<textarea class="site_area" name="addr"></textarea>
				</div>
				<div class="form_group">
					<label>邮编：</label>
					<input type="text" name="zip_code">
				</div>
				<div class="form_group">
					<label>手机：</label>
					<input type="text" name="phone">
				</div>
				<input type="submit" name="" value="提交" class="info_submit">
			</form>
		</div>
	</div>
{% endblock right_content %}

{% block bottomfiles %}
	<script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(function(){
            // 发起一个ajax请求 /cities，获取省级信息
            $.get('/user/cities', function(data){
                prov = $('#prov')
                res = data.data     //获取json返回的prov
                // res是一个数组，每个元素也是数组[地区id，地区标题]
                $.each(res, function(index, item){  // 第几个元素,元素值
                    id = item[0]
                    atitle = item[1]
                    prov.append('<option pid="'+id+'" value="'+atitle+'">'+atitle+'</option>')
                })
            })

            // 绑定prov下拉框的change事件，获取省对应的市信息
            $('#prov').change(function(){
                // 发起ajax请求 /cities，获取市级信息,传入省的id
                prov_id = $('#prov option:selected').attr('pid')
                $.get('/user/cities'+prov_id, function(data){
                    city = $('#city')
                    county = $('#county')
                    res = data.data
                    //清空city、county下拉框列表
                    city.empty().append('<option>---请选择市---</option>')
                    county.empty().append('<option>---请选择县---</option>')
                    $.each(res, function(index, item){
                        id = item[0]
                        atitle = item[1]
                        city.append('<option pid="'+id+'" value="'+atitle+'">'+atitle+'</option>')
                    })
                })
            })

            // 绑定city下拉框的change事件，获取市对应的县信息
            $('#city').change(function(){
                // 发起ajax请求 /cities，获取县级信息,传入市的id
                city_id = $('#city option:selected').attr('pid')
                $.get('/user/cities'+city_id, function(data){
                    county = $('#county')
                    res = data.data
                    //清空county下拉框列表
                    county.empty().append('<option>---请选择县---</option>')
                    $.each(res, function(index, item){
                        id = item[0]
                        atitle = item[1]
                        county.append('<option pid="'+id+'" value="'+atitle+'">'+atitle+'</option>')
                    })
                })
            })

        })
    </script>
{% endblock bottomfiles %}