{% extends 'base_user.html' %}
{% block title %}用户地址信息{% endblock title %}

{% block right_content %}
	<div class="right_content clearfix">
		<div class="common_title3 recive_title">
			<h3><span>收货地址</span><span class="info">最多可创建<em>3</em>个地址</span></h3>
		</div>
		<div class="site_con">
			<dl>
				<dt>当前地址：</dt>
				{% if address %}
				<dd>{{ address.addr}} ({{ address.receiver }} 收) {{ address.phone }}</dd>
				{% else %}
				<dd>未添加地址</dd>
				{% endif %}
			</dl>
		</div>
		<div class="common_title3">
			<h3>编辑地址</h3>
		</div>
		<div class="site_con">
			<form method="post">
				{% csrf_token %}
				<div class="form_group">
					<label>收件人：</label>
					<input type="text" name="receiver">
				</div>
				<div class="form_group select_area">
					<label>所在地区：</label>
					<select type="text" name="">
						<option value="0" selected>---请选择省份---</option>
						<option value="1">四川</option>
						<option value="2">重庆</option>
						<option value="3">北京</option>
						<option value="4">上海</option>
					</select>
					<select type="text" name="">
						<option value="0" selected>---请选择城市---</option>
						<option value="1">四川</option>
						<option value="2">重庆</option>
						<option value="3">北京</option>
						<option value="4">上海</option>
					</select>
					<select type="text" name="">
						<option value="0" selected>---请选择城区---</option>
						<option value="1">四川</option>
						<option value="2">重庆</option>
						<option value="3">北京</option>
						<option value="4">上海</option>
					</select>
				</div>
				<div class="form_group form_group2">
					<label>详细地址：</label>
					<textarea class="site_area" name="addr"></textarea>
				</div>
				<div class="form_group">
					<label>邮编：</label>
					<input type="text" name="zip_code">
				</div>
				<div class="form_group">
					<label>手机：</label>
					<input type="text" name="phone">
				</div>

				<input type="submit" name="" value="提交" class="info_submit">
			</form>
		</div>
	</div>
{% endblock right_content %}